<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sungjuk">
    <select id="select" statementType="PREPARED"
        resultType="kimch321.spring4.sungjukv6.model.SungJukVO">select * from SUNGJUK</select>

    <select id="selectone" statementType="PREPARED"
        parameterType="int"
        resultType="kimch321.spring4.sungjukv6.model.SungJukVO">SELECT * FROM SUNGJUK WHERE SJNO = #{sjno}</select>

    <insert id="insert" statementType="PREPARED"
        parameterType="kimch321.spring4.sungjukv6.model.SungJukVO">
        insert into SUNGJUK (NAME, KOR, ENG, MAT, TOT, AVG, GRD)
        values(#{name},#{kor},#{eng},#{mat},#{tot},#{avg},#{grd})</insert>

    <update id="update" statementType="PREPARED"
        parameterType="kimch321.spring4.sungjukv6.model.SungJukVO">
        UPDATE SUNGJUK SET KOR = #{kor}, ENG = #{eng}, MAT = #{mat}, TOT = #{tot}, AVG = #{avg}, GRD = #{grd}
        WHERE SJNO = #{sjno}</update>
    
    <delete id="delete" statementType="PREPARED"
        parameterType="int">DELETE FROM SUNGJUK WHERE SJNO = #{sjno}</delete>
</mapper>